torch --index-url https://download.pytorch.org/whl/cpu
pandas 
sqlalchemy-iris #==0.10.5 
sentence_transformers
intersystems-irispython

streamlit
langchain
langchain-iris
langchain-community
urlextract
openai
python-dotenv
tiktoken
